opencv-python
opencv-contrib-python   # for Tracker
numpy       # for color-detection
Pillow      # for color-detection
mediapipe   # for Breadcrumbsface-anonymizer
pytesseract # OCR
pyzbar      # QRCode
pafy        # youtube
youtube-dl  # youtube
# yt-dlp      # youtube (<->youtube-dl)